<script>
    import { Application } from '@splinetool/runtime';

    const canvas = document.getElementById('canvas3d');    // @ts-ignore
    const app = new Application(canvas);
    app.load('https://prod.spline.design/zbnXHHdeOif-Vm-q/scene.splinecode');
    </script>
<div class="object">
    <canvas id="canvas3d"></canvas>
</div>




<style>
    .object{
        width: 100%;
        height: 700px;
    }
    .c{
    background: red;
    width: 100px;
    height: 100px;
}
</style>